<!DOCTYPE mapper PUBLIC "-//mybatis.ong//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.mapper.SysTextWenMapper">

<!--        添加内容-->
        <insert id="insertTextWenInt" >
            insert into xiton.text_wen(
                <trim suffixOverrides=",">
                    <if test="text_name != null and text_name != ''">text_name,</if>
                    <if test="text_describe != null and text_describe != ''">text_describe,</if>
                    <if test="text_link != null and text_link != ''">text_link,</if>
                    <if test="text_label != null and text_label != ''">text_label,</if>
                    <if test="text_image != null and text_image != ''">text_image,</if>
                    <if test="text_detailed != null and text_detailed != ''">text_detailed,</if>
                    <if test="text_rec_id != null">text_rec_id,</if>
                    <if test="text_date != null and text_date != ''">text_date,</if>
                </trim>
            )values (
                <trim suffixOverrides=",">
                    <if test="text_name != null and text_name != ''">#{text_name},</if>
                    <if test="text_describe != null and text_describe != ''">#{text_describe},</if>
                    <if test="text_link != null and text_link != ''">#{text_link},</if>
                    <if test="text_label != null and text_label != ''">#{text_label},</if>
                    <if test="text_image != null and text_image != ''">#{text_image},</if>
                    <if test="text_detailed != null and text_detailed != ''">#{text_detailed},</if>
                    <if test="text_rec_id != null">#{text_rec_id},</if>
                    <if test="text_date != null and text_date != ''">#{text_date},</if>
                </trim>
            )
        </insert>

<!--        个人内容条数-->

        <select id="selectTextWenCount" resultType="int">
            select count(*) from xiton.text_wen
            <where>
                <if test="id != null"> and text_rec_id = #{id}</if>
                <if test="text_status != 3">and text_status = #{text_status}</if>
            </where>
        </select>
<!--        显示个人推荐内容数据-->
        <select id="selectTextWen" resultType="com.yz.pojo.TextWen">
            select * from xiton.text_wen
<!--            order by text_id desc-->
            <where>
                <if test="id != null"> and text_rec_id = #{id}</if>
                <if test="text_status == 0 || text_status == 1 || text_status == 2"> and text_status = #{text_status}</if>
            </where>
            Limit #{curr},#{limit}
        </select>

<!--       前端内容条数 -->
        <select id="selectTextWenCountData" resultType="int">
            select COUNT(*) from xiton.text_wen
            <where>
                <if test="text_label != null and text_label != ''">
                    and text_label = #{text_label}
                </if>
                <if test="text_status != null">
                    and text_status = #{text_status}
                </if>

            </where>
        </select>
<!--        前端内容-->
        <select id="selectTextWenData" resultType="com.yz.pojo.TextWen">
            select * from xiton.text_wen

            <where>
                <if test="text_label != null and text_label != ''">
                    and text_label = #{text_label}
                </if>
                <if test="text_status != null">
                    and text_status= #{text_status}
                </if>
            </where>
            order by text_id desc
            Limit #{curr},#{limit}
        </select>

<!--        查询收藏夹里是否已经有-->
        <select id="selectCll" resultType="com.yz.pojo.Cllect">
            select * from xiton.cllect
            where username = #{username}
        </select>
        <!--        添加收藏-->
        <insert id="insertCllect">
                insert into xiton.cllect(
                 <trim suffixOverrides=",">
                    <if test="text_id != null">text_id,</if>
                    <if test="username != null and username != ''">username,</if>
                    <if test="cll_data != null and cll_data != ''">cll_data,</if>
                </trim>
            )values (
                <trim suffixOverrides=",">
                    <if test="text_id != null">#{text_id},</if>
                    <if test="username != null and username != ''">#{username},</if>
                    <if test="cll_data != null and cll_data != ''">#{cll_data},</if>
                </trim>
                )
        </insert>
<!--        删除作者内容-->
        <delete id="selectText">
            delete from xiton.text_wen
            where text_id = #{text_id} and text_rec_id =#{text_rec_id}
        </delete>


<!--        后端内容数量-->
        <select id="selectTextWenCountGeneraData" resultType="java.lang.Integer">
            select COUNT(*) from xiton.text_wen
            <where>
                <if test="text_id != null">and text_id = #{text_id}</if>
                <if test="text_label != null and text_label != ''">and text_label = #{text_label}</if>
                <if test="text_name != null and text_name != ''">and text_name like '%${text_name}%'</if>
                <if test="text_rec_id != null">and text_rec_id =#{text_rec_id}</if>
            </where>
        </select>

<!--        后台内容列表-->

        <select id="GeneralList" resultType="com.yz.pojo.TextWen">

            select * from xiton.text_wen
            <where>
                <if test="text_id != null">and text_id = #{text_id}</if>
                <if test="text_label != null and text_label != ''">and text_label =#{text_label}</if>
                <if test="text_name != null and text_name != ''">and text_name like '%${text_name}%'</if>
                <if test="text_rec_id != null">and text_rec_id =#{text_rec_id}</if>
            </where>
            order by text_id desc
            Limit #{page},#{limit}
        </select>


<!--        后台删除内容-->
        <delete id="StaDelete">
            delete from xiton.text_wen
            where text_id = #{text_id}

        </delete>
<!--        后台修改内容状态-->
        <update id="StaUpdate">
            update xiton.text_wen
            set text_status = #{text_status}
            where text_id = #{text_id}
        </update>
</mapper>